@font-face {
  font-family: Gilroy;
  src: url(/assets/font.woff2);
}
@font-face {
  font-family: roboto;
  src: url(/assets/font.ttf);
}
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  -webkit-font-smoothing: antialiased;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* padding: 10px; */
  font-family: "Poppins", sans-serif;
}

@keyframes loading {
  0% {
    cy: 10;
  }
  25% {
    cy: 3;
  }
  50% {
    cy: 10;
  }
}

canvas {
  height: 100vh;
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 999;
}
button {
  background-color: #9d1d27;
  border-radius: 20px;
  border: none;
  color:#fff;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  /* left: 50%; */
  outline: none;
  overflow: hidden;
  padding: 0 10px;
  /* position: fixed; */
  /* top: 50%; */
  transform: translate(10%, -50%);
  width: 190px;
  -webkit-tap-highlight-color: transparent;
  z-index: 1;
}
/* button::before {
  background: #61dfeb;
  content: "";
  display: block;
  height: 100%;
  margin: 0 auto;
  position: relative;
  transition: width 0.2s cubic-bezier(0.39, 1.86, 0.64, 1) 0.3s;
  width: 100%;
} */
button.ready .submitMessage svg {
  opacity: 1;
  top: 1px;
  transition: top 0.4s ease 600ms, opacity 0.3s linear 600ms;
}
button.ready .submitMessage .button-text span {
  top: 0;
  opacity: 1;
  transition: all 0.2s ease calc(var(--dr) + 600ms);
}
button.loading::before {
  transition: width 0.3s ease;
  width: 80%;
}
button.loading .loadingMessage {
  opacity: 1;
}
button.loading .loadingCircle {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: loading;
  cy: 10;
}
button.complete .submitMessage svg {
  top: -30px;
  transition: none;
}
button.complete .submitMessage .button-text span {
  top: -8px;
  transition: none;
}
button.complete .loadingMessage {
  top: 80px;
}
button.complete .successMessage .button-text span {
  left: 0;
  opacity: 1;
  transition: all 0.2s ease calc(var(--d) + 1000ms);
}
button.complete .successMessage svg {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.3s ease-in-out 1.4s;
}
.button-text span {
  opacity: 0;
  position: relative;
}
.message {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.message svg {
  display: inline-block;
  fill: none;
  margin-right: 5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
.submitMessage .button-text span {
  top: 8px;
  transition: all 0.2s ease var(--d);
}
.submitMessage svg {
  color: #5c86ff;
  margin-left: -1px;
  opacity: 0;
  position: relative;
  top: 30px;
  transition: top 0.4s ease, opacity 0.3s linear;
  width: 14px;
}
.loadingMessage {
  opacity: 0;
  transition: opacity 0.3s linear 0.3s,
    top 0.4s cubic-bezier(0.22, 0, 0.41, -0.57);
}
.loadingMessage svg {
  fill: #5c86ff;
  margin: 0;
  width: 22px;
}
.successMessage .button-text span {
  left: 5px;
  transition: all 0.2s ease var(--dr);
}
.successMessage svg {
  color: #5cffa1;
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  transition: stroke-dashoffset 0.3s ease-in-out;
  width: 14px;
}
.loadingCircle:nth-child(2) {
  animation-delay: 0.1s;
}
.loadingCircle:nth-child(3) {
  animation-delay: 0.2s;
}
/* Website Link */
.website-link {
  background: #f8faff;
  border-radius: 50px 0 0 50px;
  bottom: 30px;
  color: #324b77;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  height: 34px;
  filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.1));
  padding: 0 20px 0 40px;
  position: fixed;
  right: 0;
  text-align: left;
  text-decoration: none;
}
.website-link__icon {
  left: -10px;
  position: absolute;
  top: -12px;
  width: 44px;
}
.website-link__name {
  display: block;
  font-size: 14px;
  line-height: 14px;
  margin: 5px 0 3px;
}
.website-link__last-name {
  color: #55bada;
}
.website-link__message {
  color: #8aa8c5;
  display: block;
  font-size: 7px;
  line-height: 7px;
}

/* /////////////////////////////////////////////////////////////// */
.main {
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-color: red; */
}
.nav {
  height: 80px;
  padding: 15px;
  z-index: 99999999;
  position: fixed;
  width: 100%;
  background-color: #fff;
}

.page1 {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  /* background-color: red; */
}
.logo {
  z-index: 9;
  top: 1.5%;
  left: 1%;
  height: 40px;
  width: auto;
}
.left {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ddcdce;
  /* background-color: rgb(18, 166, 212); */
}

.left3 {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 800px;
  /* background-color: rgb(35, 6, 6); */
}

.left3 h3 {
  position: relative;
  top: 20%;
  color: #54565b;
  font-weight: 600;
  font-family: roboto;
  font-size: 23px;
  line-height: 1.4;
}

.interstrate {
  height: 180px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  /* background-color: red; */
}
.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  height: 45px;
  /* width: 100%; */
  /* background-color: #0176ea; */
}
.flexbox i {
  font-size: 30px;
  color: gray;
}
.flexbox h4 {
  margin-top: 25px;
  font-size: 20px;
  font-weight: 600;
  font-family: gilroy;
  color: #54565b;
}
.left4 {
  position: relative;
  overflow: hidden;
  top: 2%;
  left: -0.4%;
  height: 70%;
  text-align: center;
  width: 830px;
  /* background-color: rgb(59, 223, 0); */
  background-image: url(/6081563-removebg-preview.png);
}

.icondiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 50%;
}
.spnafooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 46px;
}
.spnafooter span {
  font-weight: 700;
  font-family: gilroy;
  color: #9d1d27;
}
.spnafooter p {
  font-weight: 700;
  font-size: 12px;
  color: #54565b;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  background-color: red;
  background-color: #ddcdce;
}

.container {
  position: relative;
  background: #fff;
  left: -6%;
  margin-top: 160px;
  width: 370px;
  border-radius: 5px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.container .text {
  text-align: left;
  font-family: roboto;
  line-height: 1;
  font-size: 2.2rem;
  color: #54565b;
  font-weight: 800;
  padding-bottom: 30px;
}
.container form {
  padding: 30px 0 0 0;
}
.container form .form-row {
  display: flex;
  margin: 32px 0;
}
.lbl {
  width: 100%;
  height: 40px;
  margin: 10px 20px;
  position: relative;
}
.dob {
  /* outline: none; */
  /* border: none; */
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  width: 40%;
  height: 40px;
  margin: 15px 20px;
  position: relative;
}
form .form-row .input-data {
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea {
  height: 70px;
}
.input-data input,
.textarea textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}
.input-data input:focus ~ label,
.textarea textarea:focus ~ label,
.input-data input:valid ~ label,
.textarea textarea:valid ~ label {
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}
.textarea textarea {
  resize: none;
  padding-top: 10px;
}
.input-data label {
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label {
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before {
  transform: scale(1);
}
.submit-btn .input-data {
  border-radius: 10px;
  /* overflow: hidden; */
  height: 45px !important;
  width: 25% !important;
}
.submit-btn .input-data .inner {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
}
.submit-btn .input-data:hover .inner {
  left: 0;
}
.submit-btn .input-data input {
  display: inline-block;
  font-size: 18px;
  height: 50px;
  min-width: 160px;
  padding: 10px 30px;
  border-radius: 25px;
  background: #9d1d27;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  white-space: nowrap;
}
@media (max-width: 700px) {
  .container .text {
    font-size: 30px;
  }
  .container form {
    padding: 10px 0 0 0;
  }
  .container form .form-row {
    display: block;
  }
  form .form-row .input-data {
    margin: 35px 0 !important;
  }
  .submit-btn .input-data {
    width: 40% !important;
  }
}
.successPopupModal {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #0000006b;
}
.pp {
  opacity: 0.8;
  font-size: 14px;
  font-family: gilroy;
}
.success-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}
.succ {
  width: 300px;
}
h4 {
  font-size: 2rem;
  line-height: 1;
  color: #13316d;
  padding-bottom: 30px;
}
.success-content {
  text-align: center;
  background: #fff;
  border-radius: 10px;
}

.success-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.confetti {
  width: 10px;
  height: 10px;
  position: absolute;
  opacity: 0;
  background: #f00; /* Initial color */
  animation: confetti-fall 3s infinite;
}

@keyframes confetti-fall {
  0% {
    transform: translateY(-100vh) rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 1;
  }
}

/* Add more colors for confetti */
.confetti:nth-child(2n) {
  background: #ff0;
}

.confetti:nth-child(3n) {
  background: #0ff;
}

.page2 {
  height: 100%;
  width: 100%;
}

.center2 {
  height: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
  /* background-color: red; */
}

.left2 {
  height: 100%;
  width: 40%;
  background-color: #fff;
}
.oval {
  position: relative;
  height: 300px;
  width: 440px;
  background-image: url(/blob-haikei.svg);
  background-size: cover;
}
.oval h6 {
  position: relative;
  font-size: 30px;
  font-family: roboto;
  color: gray;
  top: 50%;
  left: 40%;
  width: 40px;
  transform: translate(-50%, -50%);
}

.right2 {
  height: 100%;
  width: 60%;
  background: #fff;
  /* background-color/: rgb(73, 0, 128); */
  background: linear-gradient(90deg, white -60%, #c4777d 40%, #9d1d1d 100%);
}

.card {
  position: absolute;
  padding: 30px;
  z-index: 999;
  height: 54vh;
  /* background-color: #000; */
  display: flex;
  align-items: center;
  justify-content: center;
  left: 30%;
  top: 120%;
  width: 67%;
  /* background-color: #EFEFEF; */
}

.silde-container {
  z-index: 999;
  max-width: 1120px;
  width: 100%;
  /* background-color: gray; */
}

.slide-content {
  margin: 0 40px;
}

.image-content,
.card-content {
  padding: 10px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-content {
  position: relative;
  padding: 20px 0;
  row-gap: 5px;
}

.overlay {
  position: absolute;
  border-radius: 25px 25px 0 25px;
  height: 100%;
  width: 100%;
  /* background-color: #4070f4; */
  /* background: linear-gradient( white -60%, #c4777d 40%, #9d1d1d 100%); */
  left: 0;
  top: 0;
}
.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #fff;
  /* background-color:  #4070f4; */
  right: 0;
  bottom: -40px;
}
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
  /* background: linear-gradient( white -60%, #c4777d 40%, #9d1d1d 100%); */
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.description {
  z-index: 99;
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button {
  border: none;
  z-index: 99999;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  padding: 4px 14px;
  background-color: #9d1d27;;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s esae;
}
 
.card2 {
  width: 260px;
  border: 1px solid rgba(128, 128, 128, 0.154);
  height: 300px;
  border-radius: 5px;
  background-color: #fff;
}

.card-image {
  position: relative;
  background: #fff;
  padding: 3px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #9d1d27;
  object-fit: cover;
}

/* /////////////////////////////////////////// */

.page3 {
  height: 120%;
  width: 100%;
}

.askquestion {
  position: relative;
  top: 40px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: red; */
}

.askquestion h3 {
  position: relative;
  font-size: 40px;
  font-family: roboto;
  font-weight: 100;
  color: grey;
}
.questionanswer {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: auto;
  /* background-color: red; */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.layout {
  width: 900px;
  margin: auto;
  /* background-color: red; */
}

.accordion {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22);
  padding: 10px;
  margin-top: 12px;
  margin-bottom: 10px;
  background: #ffffff;
  border-radius: 5px;
  /* background: rgb(196, 251, 196); */
}

.accordion__question p {
  margin: 5px;
  padding: 0;
  font-family: roboto;
  font-size: 16px;
}

.accordion__answer p {
  animation: fadeIn 0.5s ease-in;
  margin: 5px;
  padding: 10px;
  font-size: 15px;
  font-family: roboto;
  color: #000;
  background: rgb(232, 252, 241);
  border-radius: 10px;
}

.accordion:hover {
  cursor: pointer;
}

.accordion__answer {
  display: none;
}

.accordion.active .accordion__answer {
  display: block;
}

.footer {
  position: relative;
  margin-top: 12%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  width: 100%;
  background-color: #f3f3f3;
  /* background-color: red; */
}
#copy {
  padding: 20px;
  width: 330px;
  font-size: 13px;
}
#Privacy {
  font-family: roboto;
  width: 380px;
  padding: 20px;
  font-size: 13px;
}
#copy p {
  font-family: roboto;
}
#Corporate {
  width: 450px;
  font-family: roboto;
  padding: 20px;
  font-size: 13px;
}
.dividefooter {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100%;
  /* width: 300px; */
  /* background-color: #0176ea; */
}

.page2second {
  display: none;
}

/* Add more colors as needed */

/* Mobile Responsive */

@media only screen and (max-width: 768px) {
  .nav {
    height: 80px;
    position: fixed;
    padding: 20px;
  }
  .logo {
    height: 40px;
  }
  .page1 {
    position: relative;
    /* display: flex; */
    height: 100%;
    width: 100%;
    /* background-color: red; */
  }
  .left {
    display: none;
    width: 100%;
    height: 100%;
  }

  .left3 {
    padding: 20px;
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 800px;
    /* background-color: rgb(35, 6, 6); */
  }

  .left3 h3 {
    position: relative;
    display: none;
    top: 20%;
    color: #54565b;
    font-weight: 600;
    font-family: roboto;
    font-size: 23px;
    line-height: 1.4;
  }

  .interstrate {
    display: none;
    height: 180px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    /* background-color: red; */
  }
  .flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
    gap: 25px;
    height: 45px;
    /* width: 100%; */
    /* background-color: #0176ea; */
  }
  .flexbox i {
    font-size: 30px;
    display: none;
    color: gray;
  }
  .flexbox h4 {
    display: none;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 600;
    font-family: gilroy;
    color: #54565b;
  }
  .left4 {
    position: absolute;
    overflow: hidden;
    margin-top: 70%;
    display: none;
    top: 2%;
    left: -0.4%;
    height: 70%;
    text-align: center;
    width: 100%;
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: red; */
    background-color: #ddcdce;
  }

  .container {
    position: relative;
    left: -1%;
    margin-top: 80px;
    width: 340px;
    border-radius: 5px;
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .page2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }
  .center2 {
    height: 100%;
    width: 100%;
    /* background-color: red; */
  }
  .left2 {
    height: 100%;
    display: none;
    width: 100%;
  }
  .right2 {
    display: none;
    width: 100%;
  }

  .card {
    position: absolute;
    display: none;
    /* background-color: #000; */
    width: 100%;
    /* height:50%; */
    left: 1%;
    background-color: #efefef;
  }
  .swiper {
    background-color: #0ff;
    height: 80%;
    width: 100%;
  }
  .card2 {
    height: 100%;
    background-color: #13316d;
    width: 100%;
  }

  .image-content {
    position: relative;
    padding: 10px 0;
    row-gap: 2px;
  }
  .card-image {
    position: relative;
    background: #fff;
    padding: 3px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .card-content {
    /* background-color: yellow; */
    height: 500px;
    width: 250px;
  }

  .page3 {
    height: 100%;
    width: 100%;
  }
  .askquestion {
    position: relative;
    padding: 20px;
    width: 100%;
    /* background-color: red; */
  }
  .askquestion h3 {
    font-size: 30px;
  }
  .questionanswer {
    position: relative;
    padding: 10px;
    width: 100%;
    /* background-color: red; */
  }
  .layout {
    width: 100%;
    /* background-color: red; */
  }
  .accordion {
    padding: 5px;
    margin-top: -5px;
    background: #ffffff;
    /* background: rgb(196, 251, 196); */
  }
  .accordion__question p {
    font-family: gilroy;
    font-size: 13px;
    /* background-color: red; */
  }

  .accordion__answer p {
    animation: fadeIn 0.5s ease-in;
    font-size: 12px;
    font-family: roboto;
    color: #000;
    background: rgb(232, 252, 241);
    border-radius: 10px;
  }
  .footer {
    position: relative;
    flex-direction: column;
    margin-top: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25%;
    width: 100%;
    background-color: #f3f3f3;
    /* background-color: red; */
  }

  .dividefooter {
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    height: 30%;
    width: 100%;
    /* background-color: #0176ea23; */
  }
  #copy {
    padding: 10px;
    width: 90%;
    font-size: 12px;
  }

  #Privacy {
    font-family: roboto;
    width: 90%;
    padding: 10px;
    font-size: 12px;
    /* background-color: red; */
  }
  #Corporate {
    width: 90%;
    font-family: roboto;
    padding: 10px;
    font-size: 12px;
  }

  .page2second {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background: #ddcdce;
  }
  .leftcontent {
    padding: 20px;
    height: 60%;
    width: 100%;
    background-color: #ddcdce;
  }
  .leftcontent h3 {
    color: #565051;
    font-size: 25px;
    font-style: italic;
    font-family: roboto sans-serif;
  }
  .rightcontent {
    height: 40%;
    width: 100%;
    background-color: #ddcdce;
    /* background-color: red; */
  }

  .leftcontentImg {
    height: 260px;
    width: 300px;
    /* background-color: red; */
    background-image: url(/6081563-removebg-preview.png);
    background-size: cover;
  }
  .insidinterets {
    display: flex;
    padding: 15px;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    height: 75%;
    width: 100%;
    /* background-color: green; */
  }
  .boxflexx {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 50px;
    /* width: 100%; */
    /* background-color: #0ff; */
  }
  .divIcon {
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50px;
    background-color: #fff;
    border-radius: 50%;
  }
  .boxflexx h4 {
    color: #54565b;
    margin-top: 24px;
    font-size: 18px;
    text-align: center;
  }
  .boxflexx i {
    font-size: 25px;
  }
}
